.boxWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  column-gap: 30px;
  row-gap: 15px;

  @media (max-width: 1850px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
  }
}