// colors
$color-blue-light: rgba(25, 50, 90, 1);
$color-blue-semibold: rgba(20, 25, 75, 1);
$color-blue-bold: rgba(16, 20, 47, 1);

// body
$body-bg-color: rgba(16, 20, 47, 1);

// section
$section-radius: 1rem;
$section-bg-color: rgba(31, 39, 78, 1);

// card
$card-bg-color: rgba(31, 50, 90, 1);
$card-radius: 0.65rem;
$card-padding: 1.2rem;