@use "@/styles/variables.scss" as *;

.wrapper {
  width: 768px;
  height: 480px;
  position: relative;
  overflow: hidden;
  border-radius: $section-radius;
  background: linear-gradient(to right, $color-blue-light, $color-blue-semibold);
}

.togglePanel {
  color: $section-bg-color;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgb(255, 255, 255), var(--chakra-colors-blue-100));
  padding: 2rem;
  z-index: 10;
}

.toggleBtn {
  padding: 0.5rem 3rem;
  background: $color-blue-light;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.toggleBody {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.formWrapper {
  padding: 2rem;
  width: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
}