@use "@/styles/mixins.scss" as *;

.wrapper {
  @include card;
  padding: 10px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @media (max-width: 1250px) {
    max-width: 450px;
    grid-template-columns: 1fr;
    @include card;
  }
  @media (max-width: 1110px) {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.legend {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;
  gap: 0.75rem;
  @media (max-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 1110px) {
    grid-template-columns: 1fr;
  }
  //@media (max-width: 1150px) {
  //  grid-template-columns: repeat(4, 1fr);
  //  justify-items: center;
  //}
  //@media (max-width: 850px) {
  //  grid-template-columns: repeat(3, 1fr);
  //  justify-items: start;
  //}
  //@media (max-width: 725px) {
  //  grid-template-columns: repeat(2, 1fr);
  //}
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}